body {
    zoom: 75%!important;
    /*Not working*/
}

.custom-bg-red-event {
    background-color: #fcc4c4;
}
.custom-bg-green {
    background-color: #ccffd4;
}
.custom-bg-yellow {
    background-color: #ffeec7;
}
.custom-bg-red {
    background-color: #fdfdfd;
}
.custom-bg-blue {
    background-color: #add8e6;
}

/*.custom-bg-green {*/
/*    background-color: #e3fcec;*/
/*}*/

/*.custom-bg-amber {*/
/*    background-color: #fffbeb;*/
/*}*/
/*.custom-bg-blue {*/
/*    background-color: #add8e6;*/
/*}*/

/*.filament-apex-charts-widget {*/
/*    zoom: 130%;*/
/*}*/
